Repository leedm777/advent-of-code-2022: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.yml:

---
"*.js":
  - eslint --fix --max-warnings 0
"*.json":
  - prettier --write
"*.md":
  - prettier --write
"*.yml":
  - prettier --write

Fix stub in prep.sh
  prep.sh
Due: none

Add a runner for all the solutions
  package.json
  src/aoc.js
  src/main.js
Due: eslint --fix --max-warnings 0, prettier --write

Day 2, part 1
  src/aoc.js
  src/day02.js
  src/day02.spec.js
  src/day02.txt
  src/main.js
Due: eslint --fix --max-warnings 0

Day 2 refactor
  package.json
  src/day02.js
  src/day02.spec.js
  src/main.js
Due: eslint --fix --max-warnings 0, prettier --write

Add git hooks
  .husky/pre-commit
  .husky/pre-push
Due: none

Day 2 refactor
  src/day02.js
Due: eslint --fix --max-warnings 0

ESLint lodash usage - WIP
  .eslintrc.yml
  package-lock.json
  package.json
  src/aoc.js
  src/day02.js
Due: eslint --fix --max-warnings 0, prettier --write

Day 3, part 1
  src/day03.js
  src/day03.spec.js
  src/day03.txt
Due: eslint --fix --max-warnings 0

Day 3, part 2
  src/day03.js
  src/day03.spec.js
Due: eslint --fix --max-warnings 0

Clean up lodash usage, per ESLint rules
  .eslintrc.yml
  prep.sh
  src/day01.js
  src/day02.js
  src/day03.js
  src/main.js
Due: eslint --fix --max-warnings 0, prettier --write

Day 4, part1
  prep.sh
Due: none

Day 4, part 2
  src/day04.js
  src/day04.spec.js
  src/day04.txt
Due: eslint --fix --max-warnings 0

Day 5, part 1
  src/aoc.js
  src/day05.js
  src/day05.spec.js
  src/day05.txt
Due: eslint --fix --max-warnings 0

Day 5, part 2
  src/aoc.js
  src/day05.js
  src/day05.spec.js
Due: eslint --fix --max-warnings 0

Day 6, part 1
  src/day06.js
  src/day06.spec.js
  src/day06.txt
Due: eslint --fix --max-warnings 0

Day 6, part 2
  src/day06.js
  src/day06.spec.js
Due: eslint --fix --max-warnings 0

Day 6, refactor
  src/day06.js
Due: eslint --fix --max-warnings 0

Day 7, part 2
  src/day07.js
  src/day07.spec.js
  src/day07.txt
Due: eslint --fix --max-warnings 0

Day 8, part 1
  src/day08.js
  src/day08.spec.js
  src/day08.txt
Due: eslint --fix --max-warnings 0

Day 8, part 2
  src/day08.js
  src/day08.spec.js
Due: eslint --fix --max-warnings 0

Day 9, part 1
  src/day09.js
  src/day09.spec.js
  src/day09.txt
Due: eslint --fix --max-warnings 0

Day 9, part 2
  src/day09.js
  src/day09.spec.js
Due: eslint --fix --max-warnings 0

Day 9, refactor
  src/day09.js
Due: eslint --fix --max-warnings 0

Add timings to main app
  src/main.js
Due: eslint --fix --max-warnings 0

Day 10, WIP
  src/day10.js
  src/day10.spec.js
  src/day10.txt
Due: eslint --fix --max-warnings 0

Day 10, WIP; wrong answer on cycle 220
  src/day10.js
  src/day10.spec.js
Due: eslint --fix --max-warnings 0

Day 10, part 1
  package-lock.json
  package.json
  src/day10.js
  src/day10.spec.js
Due: eslint --fix --max-warnings 0, prettier --write

Day 10, part 2
  src/day10.js
  src/day10.spec.js
  src/main.js
Due: eslint --fix --max-warnings 0

Refactor main app output for clarity
  src/day06.js
  src/day06.spec.js
  src/day10.js
  src/day10.spec.js
Due: eslint --fix --max-warnings 0

Day 11, part 1
  src/day11.js
  src/day11.spec.js
  src/day11.txt
Due: eslint --fix --max-warnings 0

Day 11, part 2
  src/day11.js
  src/day11.spec.js
Due: eslint --fix --max-warnings 0

Day 11, removed useless bigints
  src/day11.js
  src/day11.spec.js
Due: eslint --fix --max-warnings 0

Day 9 optimization
  .gitignore
  src/day09.js
Due: eslint --fix --max-warnings 0

Day 10, remove checkpoint test
  package.json
  src/day10.spec.js
Due: eslint --fix --max-warnings 0, prettier --write

Day 11, no more eval
  src/day11.js
Due: eslint --fix --max-warnings 0

Day 12, part 1
  src/aoc.js
  src/day12.js
  src/day12.spec.js
  src/day12.txt
Due: eslint --fix --max-warnings 0

Day 12, part 2
  src/aoc.js
  src/day12.js
  src/day12.spec.js
Due: eslint --fix --max-warnings 0

Day 12, just curious what the map looked like
  src/day12.js
Due: eslint --fix --max-warnings 0

Day 12, refactor
  src/aoc.js
  src/day12.js
Due: eslint --fix --max-warnings 0
